html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #242323;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#elapsed {
    color: white;
    font-size: 32px;
}
#cycledImage {
    max-height: 400px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}